@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
*{font-family: 'Roboto', sans-serif;}

.thin{font-weight: 300;}
.medium{font-weight: 500;}
.bold{font-weight: 700;}

body{background-color: #e2e2e2;}

.white{color: #fff;}
.roxo{color: #9f00fa;}
.bg-roxo{background-color: #6c00b2; color: #fff;}
.bg-roxo-escuro{background-color: #590292; color: #fff;}
.btn-roxo{background-color: #9f00fa; color: #fff;}
.btn-roxo:hover{background-color: #6c00b2 !important; color: #fff !important;}


a{color: #3e3e3e;}
a:hover{color: #9f00fa; background-color: transparent !important;}

.box-shadow{-webkit-box-shadow: 0px 1px 5px 1px rgba(140,140,140,0.5);  -moz-box-shadow: 0px 1px 5px 1px rgba(140,140,140,0.5);  box-shadow: 0px 1px 5px 1px rgba(140,140,140,0.5);}
.no-padding{padding: 0 !important;}
.full-height{height: 100%;}
.navbar{background-color: #fff; min-height: 114px; padding-top: 10px; margin-bottom: 0;}
#menu-principal > .nav{line-height: 50px; margin-top: 20px;}
#menu-principal > .nav > li > a,
#menu-principal > .nav > li > span
{font-weight: 500; padding: 0 15px; display: inline-block}

.btn-menu{padding: 0; padding-right: 10px; margin-top: 10px;}
.btn > i{padding: 10px 10px; margin: 0; margin-right: 5px;}

.alert-error {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}

footer{padding: 40px 0;}