<form action="" method="post">{% csrf_token %}
    <input type="text" name="subscription_id" value="1A18553258D246448DB525767E16799A"/>
    <input type="text" name="status" value="pending"/>
    <input type="text" name="id" value="1757E1D7FD5E410A9C563024250015BF"/>
    <input type="text" name="event" value="invoice.created"/>
    <input type="submit" value="Enviar"/>
</form>