{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/page/mobile/geral.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/page/advertiser/mobile/listing-maps.css' %}"/>
{% endblock %}
{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js" type="text/javascript"></script>
    <script async src="{% static 'js/page/advertiser/map.js' %}"></script>
{% endblock %}

{% block menu %}
    <a href="{% url 'advertiser' id=10 name='teste' %}" class="bold bg-roxo btn btn-menu pull-right"><i class="fa fa-picture-o bg-roxo-escuro"></i> VER LISTA</a>
{% endblock %}

{% block container %}
    <div class="full-height" id="map"></div>
    <script>
        var account = {{ account.pk }}
    </script>
{% endblock %}

{% block footer %}{% endblock %}
