{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/page/mobile/geral.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/page/advertiser/mobile/listing.css' %}"/>
{% endblock %}

{% block js %}
    <script async src="{% static 'js/page/advertiser/listing.js' %}"></script>
{% endblock %}

{% block menu %}
    <a href="{% url 'advertiser_map' id=10 name='teste' %}" class="bold bg-roxo btn btn-menu pull-right"><i class="fa fa-map-marker bg-roxo-escuro"></i> VER MAPA</a>
{% endblock %}

{% block container %}
    <section class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 no-padding" id="real_estates"></div>
            <div class="col-lg-12 col-xs-12 text-center" id="actions">
                <button href="javascript: void(0);" data-radius="100" class="btn btn-default btn-warning" id="btn-mais-imoveis">
                    <i class="fa fa-home"></i>
                    Mostrar mais imóveis
                </button>
            </div>
        </div>
    </section>
    <script>
        var account = {{ account.pk }}
    </script>
{% endblock %}

{% block footer %}{% endblock %}