.owl-carousel .item > img{ width: 100%; max-height: 460px; }

h1{border: 4px solid #666; position: relative; margin: 0; font-size: 15px; font-weight: 400;}
h1 > span{background-color: #666; position: absolute; padding: 5px 10px; right: 0;}
h1.venda,
h1.venda > span
{border-color: red !important; color: #fff; background-color: red;}
h1.aluguel,
h1.aluguel > span
{border-color: #09d930 !important; color: #fff; background-color: #09d930;}

h2.price{ font-weight: 400; text-align: center}

#dados-imovel{background-color: #fff; display: inline-block;}

.caracteristicas{background-color: #fff; padding: 30px 0; margin: 0;}
.caracteristicas > li {width:19%; text-align: center;}
.caracteristicas > li > h3{font-size: 14px; width: 100%; padding-top: 0; margin-top: 0;}

#logo{margin: 30px 0;}
#logo > img{margin: 0 auto;}

form{padding: 20px 0 !important; background-color: #4f0a7c;}
form > h3{margin-bottom: 30px;}


.btn{padding: 5px 40px;}