.unique{background-color: #fff; margin-top: 25px;}

h1{border: 4px solid #666; position: relative; margin: 0; font-size: 15px; font-weight: 400;}
h1 > span{background-color: #666; position: absolute; padding: 5px 10px; right: 0;}
h1.venda,
h1.venda > span
{border-color: red !important; color: #fff; background-color: red;}
h1.aluguel,
h1.aluguel > span
{border-color: #09d930 !important; color: #fff; background-color: #09d930;}

h2.price{position: absolute; font-size: 20px; background-color: #666666; color: #fff; top: 180px; padding: 5px 10px; font-weight: 400;}
h2.price > span{font-size: 13px;float: left;margin-top: 3px;margin-right: 5px;}

.logo{border: 1px solid #ccc;width: 90px;  height: 60px;overflow: hidden;position: relative;background-color: #fff;top: -40px; float: right;margin-right: 15px;background-size: contain;background-repeat: no-repeat;background-position: center;}

.caracteristicas{margin-top: -40px;}
.caracteristicas > li {width:19%; text-align: center}
.caracteristicas > li > h3{font-size: 14px; width: 100%;}