{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/page/home.css' %}"/>
{% endblock %}

{% block container %}
    <section class="container-fluid" id="banner">
        <div class="row">
            <h2 class="text-center white thin">Veja o interior do imóvel, sem precisar <br/> <strong class="bold">ENTRAR NELE.</strong></h2>
            <div class="col-lg-12 text-center">
                <iframe width="800px" height="450px" src="https://www.youtube.com/embed/nRZfch7WKss?autoplay=1" frameborder="0" allowfullscreen id="video-youtube"></iframe>
            </div>
        </div>
    </section>
    <section class="container-fluid bg-roxo" id="explicacao-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center"><img src="{% static 'img/icons/down.png' %}"/></p>
                    <p class="text-center thin">Você achou aquele imóvel dos sonhos! Com o Placa Virtual</p>
                    <p class="text-center bold">
                        <strong>VOCÊ VÊ O INTERIOR DO IMÓVEL,</strong>
                    </p>
                    <p class="text-center thin">sem precisar entrar dentro dele.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container" id="como-funciona">
        <div class="row">
            <h2 class="roxo thin text-center">
                Veja como funciona:
            </h2>
            <div class="col-lg-2 col-lg-offset-1">
                <p class="text-center img">
                    <img src="{% static 'img/home/como-funciona/passo1.png' %}" alt=""/>
                </p>
                <h3 class="text-center">baixou</h3>
                <p class="text-center">
                    Baixe um aplicativo leitor de QR-Code em seu celular. Indicamos o i-nigma que é grátis.
                </p>
            </div>
            <div class="col-lg-3">
                <p class="text-center img">
                    <img src="{% static 'img/home/como-funciona/passo2.png' %}" alt=""/>
                </p>
                <h3 class="text-center">escaneou</h3>
                <p class="text-center">
                    Abra o aplicativo instalado, direcione a câmera do seu celular para o QR Code da placa e aguarde até que ele seja escaneado
                </p>
            </div>
            <div class="col-lg-3">
                <p class="text-center img">
                    <img src="{% static 'img/home/como-funciona/passo3.png' %}" alt=""/>
                </p>
                <h3 class="text-center">viu</h3>
                <p class="text-center">
                    O aplicativo irá direcionar você automaticamente para a Placa Virtual do imóvel que lhe mostrará as fotos, valor e todas informações.
                </p>
            </div>
            <div class="col-lg-2">
                <p class="text-center img">
                    <img src="{% static 'img/home/como-funciona/passo4.png' %}" alt=""/>
                </p>
                <h3 class="text-center">pronto</h3>
                <p class="text-center">
                    Pronto! Agora é só entrar em contato com a imobiliária e fechar um bom negócio
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="quanto-custa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="roxo text-center bold">QUANTO CUSTA</h3>
                    <p class="thin text-center roxo">
                        Descubra uma forma mais rápida <br/>de vender ou alugar imóveis.
                        <br/>
                        <a href="{% url 'anuncie' %}" class="btn btn-roxo bolg">ANUNCIE AGORA</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}