#banner{background-image: url("/static/site/img/home/banner.jpg"); background-repeat: no-repeat; background-position: center; height: 607px;}

#explicacao-banner{height: 220px; padding-top: 40px;}
#explicacao-banner p{font-size: 22px;}
#explicacao-banner p > img{position: absolute; top: -65px; z-index: 100;left: 50%; margin-left: -30px;}

#como-funciona{padding: 40px 0;}
#como-funciona h2{margin-bottom: 90px;}
#como-funciona h3{color: #c012ff; font-weight: 400;}
#como-funciona p.img{height: 106px; display: table-cell; vertical-align: middle; text-align: center; width: 100%; float: left;}
#como-funciona p{font-weight: 300; color: #666;}


#quanto-custa{padding: 40px 0;background-image: url("/static/site/img/home/quanto-custa.png"); background-repeat: no-repeat; background-position: center 90px; height: 544px; background-color: #fff;}
#quanto-custa h3{font-size: 35px;}
#quanto-custa p{font-size: 28px;}