{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles widget_tweaks %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="#" class="active">Minha conta</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Minha <span class="semi-bold">Conta</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Meus <span class="semi-bold">Dados</span></h4>
                </div>
                <div class="grid-body no-border">
                    <form action="{% url 'painel_account' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label class="form-label">Logo</label>
                                <div class="controls">
                                    {% render_field form.avatar class="form-control" placeholder="Logo"%}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <label class="form-label">Nome da imobiliária</label>
                                <div class="controls">
                                    {% render_field form.name type="text" class="form-control" placeholder="Nome da imobiliária"%}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4">
                                <label class="form-label">E-mail para contatos dos imóveis</label>
                                <div class="controls">
                                    {% render_field form.email type="text" class="form-control" placeholder="E-mail para onde vai os contatos"%}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">E-mail financeiro</label>
                                <div class="controls">
                                    {% render_field form.email_financeiro type="text" class="form-control" placeholder="E-mail financeiro"%}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">E-mail marketing</label>
                                <div class="controls">
                                    {% render_field form.email_marketing type="text" class="form-control" placeholder="E-mail responsável marketing"%}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4">
                                <label class="form-label">Tipo de cadastro</label>
                                <div class="controls">
                                    {% render_field form.type class="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Telefone</label>
                                <div class="controls">
                                    {% render_field form.phone type="text" class="form-control" placeholder="Telefone"%}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Celular</label>
                                <div class="controls">
                                    {% render_field form.cellphone type="text" class="form-control" placeholder="Celular"%}
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-roxo mediun pull-right" type="submit" tabindex="14">Alterar <i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}