{% load staticfiles widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Webarch - Responsive Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN CORE CSS FRAMEWORK -->
        <link href="{% static 'painel/plugins/pace/pace-theme-flash.css' %}' %}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static 'painel/plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/boostrapv3/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END CORE CSS FRAMEWORK -->
        <!-- BEGIN CSS TEMPLATE -->
        <link href="{% static 'painel/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/custom-icon-set.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END CSS TEMPLATE -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="error-body no-top lazy"  data-original="{% static 'painel/img/bg.jpg' %}"  style="background-image: url('{% static 'painel/img/bg.jpg' %}')">
        <div class="container">
          <div class="row login-container animated fadeInUp">
                <div class="col-md-7 col-md-offset-2 tiles white no-padding box-shadow">
                 <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
                  <h2 class="normal">Painel - Placavirtual.com.br</h2>
                  <p>Entre com seu login e senha para se logar.<br></p>
                  <p>Caso não tenha uma conta no Placavirtual.com.br clique em "Criar conta".</p>
                  <p class="p-b-20">E obtenha a melhor plataforma de anuncios para seus imóveis!</p>
                  <button type="button" class="btn btn-primary btn-cons" id="login_toggle">Login</button> or&nbsp;&nbsp;<button type="button" class="btn btn-info btn-cons" id="register_toggle">Quero criar uma conta</button>
                </div>
                <div class="tiles grey p-t-20 p-b-20 text-black">
                    <form id="frm_login" action="{% url 'auth_page' %}" method="post" class="animated fadeIn">{% csrf_token %}
                        {% if messages %}
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10 ">
                            <ul class="col-md-12 col-sm-12 list-unstyled">
                                {% for message in messages %}
                                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                <input name="username" id="login_username" type="text"  class="form-control" placeholder="Username">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input name="password" id="login_pass" type="password"  class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="control-group  col-md-6 m-t-10">
                                <a href="#">Esqueci a senha!</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-danger" id="register_toggle">Entrar no painel</button>
                            </div>
                        </div>
                    </form>
                    <form id="frm_register" class="animated fadeIn" style="display:none">
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 ">
                                {% render_field form.name type="text" class="form-control" placeholder="* Nome"%}
                            </div>
                            <div class="col-md-6 ">
                                {% render_field form.email type="text" class="form-control" placeholder="* E-mail"%}
                            </div>
                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-4">
                                {% render_field form.type class="form-control" %}
                            </div>
                            <div class="col-md-4 col-sm-4">
                                {% render_field form.phone type="text" class="form-control" placeholder="* Telefone"%}
                            </div>
                            <div class="col-md-4 col-sm-4">
                                {% render_field form.cellphone type="text" class="form-control" placeholder="* Celular"%}
                            </div>
                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-danger" id="register_toggle">Criar minha conta</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN CORE JS FRAMEWORK-->
        <script async src="{% static 'painel/plugins/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/pace/pace.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-lazyload/jquery.lazyload.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/js/login_v2.js' %}" type="text/javascript"></script>
        <!-- BEGIN CORE TEMPLATE JS -->
        <!-- END CORE TEMPLATE JS -->
    </body>
</html>