{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles widget_tweaks %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="{% url 'painel_imoveis' %}">Imóvels</a></li>
        <li><a href="#" class="active">Editar</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Editar <span class="semi-bold">Imóvel</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Referência <span class="semi-bold">{{ imovel.referer }}</span></h4>
                </div>
                <div class="grid-body no-border">
                    <form action="{% url 'painel_account' %}" method="post">{% csrf_token %}

                        <h4 class="subtitle"><span class="semi-bold">Geral</span></h4>
                        <div class="row form-row">
                            <div class="col-md-4">
                                <label class="form-label">Referência</label>
                                <div class="controls">
                                    {% render_field form.referer type="text" class="form-control" placeholder="Referência do imóvel"%}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Transação</label>
                                <div class="controls">
                                    {% render_field form.transacao class="form-control"%}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Categoria</label>
                                <div class="controls">
                                    {% render_field form.categoria class="form-control"%}
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-md-12">
                                <label class="form-label">Título</label>
                                <div class="controls">
                                    {% render_field form.titulo type="text" class="form-control" placeholder="Título do imóvel"%}
                                </div>
                            </div>
                        </div>

                        <h4 class="subtitle"><span class="semi-bold">Endereço</span></h4>

                        <div class="row form-row">
                            <div class="col-md-6">
                                <label class="form-label">Endereço</label>
                                <div class="controls">
                                    {% render_field form.endereco type="text" class="form-control" placeholder="Endereço"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Número</label>
                                <div class="controls">
                                    {% render_field form.numero type="text" class="form-control" placeholder="Nũmero do imóvel"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Complemento</label>
                                <div class="controls">
                                    {% render_field form.complemento type="text" class="form-control" placeholder="Complemento"%}
                                </div>
                            </div>
                        </div>

                        <h4 class="subtitle"><span class="semi-bold">Valores</span></h4>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <label class="form-label">Valor de venda</label>
                                <div class="controls">
                                    {% render_field form.valor_venda type="text" class="form-control" placeholder="Valor de venda"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Valor de aluguel</label>
                                <div class="controls">
                                    {% render_field form.valor_aluguel type="text" class="form-control" placeholder="Valor de aluguel"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Área Privativa</label>
                                <div class="controls">
                                    {% render_field form.area_privada type="text" class="form-control" placeholder="Área privativa"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Área Total</label>
                                <div class="controls">
                                    {% render_field form.area_total type="text" class="form-control" placeholder="Área total"%}
                                </div>
                            </div>
                        </div>

                        <h4 class="subtitle"><span class="semi-bold">Estrutura</span></h4>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <label class="form-label">N. de Quartos</label>
                                <div class="controls">
                                    {% render_field form.quartos class="form-control" placeholder="N. de quartos"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">N. de Suites</label>
                                <div class="controls">
                                    {% render_field form.suites class="form-control" placeholder="N. de quartos"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">N. de Banheiros</label>
                                <div class="controls">
                                    {% render_field form.banheiros class="form-control" placeholder="N. de quartos"%}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">N. de Vagas de garagem</label>
                                <div class="controls">
                                    {% render_field form.vagas class="form-control" placeholder="N. de quartos"%}
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-roxo mediun pull-right" type="submit" tabindex="14">Alterar <i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}