{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles bootstrap_pagination %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="#" class="active">Meus anúncios</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Meus <span class="semi-bold">Anúncios</span> ({{ total }})</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Meus  <span class="semi-bold">Anúncios</span> ({{ total }})</h4>
                </div>
                <div class="grid-body no-border">
                    {% bootstrap_paginate imoveis range=10 %}
                    <table class="table table-striped table-flip-scroll cf">
                        <thead>
                            <tr>
                                <th style="width:9%">Ref</th>
                                <th style="width:10%">Endereço</th>
                                <th style="width:2%" class="text-center">Visualizar</th>
                                <th style="width:2%" class="text-center">Deletar</th>
                                <th style="width:2%" class="text-center">Estatísticas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imovel in imoveis %}
                            <tr>
                                <td>{{ imovel.referer }}</td>
                                <td class="v-align-middle"><span class="muted">{{ imovel.endereco }}, {{ imovel.numero }}</span></td>
                                <td class="text-center">
                                    <a href="{% url 'painel_editar_imovel' id=imovel.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'painel_deletar_imovel' id=imovel.pk %}"><i class="fa fa-trash"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'painel_estatistica_imovel' id=imovel.pk %}"><i class="fa fa-bar-chart"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% bootstrap_paginate imoveis range=10 %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}