{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles painel %}

{% block js %}
    <script async src="{% static 'painel/plugins/jquery-morris-chart/js/morris.min.js' %}" type="text/javascript"></script>
    <script async src="{% static 'painel/js/grafico.js' %}" type="text/javascript"></script>
{% endblock %}

{% block container %}
<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="{% url 'painel_imoveis' %}">Meus anúncios</a></li>
        <li><a href="#" class="active">Estatística</a></li>
    </ul>
    <div class="page-title">
        <a href="{% url 'painel_imoveis' %}"><i class="icon-custom-left"></i></a>
        <h3>Estatísticas de <span class="semi-bold">Acesso</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Estatísticas de <span class="semi-bold">Acesso</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div id="grafico-acesso"></div>
                    {% grafico propriedade=imovel.pk tipo='A' %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Cliques em <span class="semi-bold">Telefone</span></h4>
                </div>
                <div class="grid-body no-border">
                <div id="grafico-telefone"></div>
                    {% grafico propriedade=imovel.pk tipo='T' %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Contato <span class="semi-bold">Direto</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div id="grafico-direto"></div>
                    {% grafico propriedade=imovel.pk tipo='C' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}