{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="#" class="active">Interessados</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Interessados - <span class="semi-bold">Contato</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Lista  <span class="semi-bold">Interessados</span></h4>
                </div>
                <div class="grid-body no-border">
                    <table class="table table-striped table-flip-scroll cf">
                        <thead>
                            <tr>
                                <th style="width:9%">Nome</th>
                                <th style="width:10%">E-mail</th>
                                <th style="width:6%">Telefone</th>
                                <th style="width:10%">Referência</th>
                                <th style="width:5%" class="text-center">Visualizar</th>
                                <th style="width:5%" class="text-center">Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contato in contatos %}
                            <tr>
                                <td>{{ contato.nome }}</td>
                                <td class="v-align-middle"><span class="muted">{{ contato.email }}</span></td>
                                <td><span class="muted">{{ contato.telefone }}</span></td>
                                <td><span class="muted">{{ contato.propriedade.referer }}</span></td>
                                <td class="text-center">
                                    <a href="{% url 'painel_view_interessado' id=contato.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'painel_deletar_interessado' id=contato.pk %}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
{% endblock %}