{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="{% url 'painel_interessado' %}" >Interessados</a></li>
        <li><a href="#" class="active">Contato</a></li>
    </ul>
    <div class="page-title">
        <a href="{% url 'painel_interessado' %}"><i class="icon-custom-left"></i></a>
        <h3>Interessados - <span class="semi-bold">Contato</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Envido em {{ contato.cadastrado }}</h4>
                </div>
                <div class="grid-body no-border">
                    <div>
                        <h1 id="emailheading">Enviado por <span class="semi-bold">{{ contato.nome }}</span></h1>
                    </div>
                    <div class="control">
                        <div class="pull-left">
                        <label class="inline"><span class="muted">responder para</span> <span class="bold small-text">{{ contato.email }}</span></label>
                        </div>
                        <div class="pull-right">
                            <span class="muted small-text">{{ contato.cadastrado }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="email-body">
                        {% if contato.telefone != '' %}
                            <p>Telefone: {{ contato.telefone }}</p>
                        {% endif %}
                        <p>{{ contato.mensagem }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
{% endblock %}