{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Webarch - Responsive Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN PLUGIN CSS -->
        <link href="{% static 'painel/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static 'painel/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'painel/plugins/jquery-morris-chart/css/morris.css' %}" type="text/css" media="screen">
        <link href="{% static 'painel/plugins/bootstrap-select2/select2.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static 'painel/plugins/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <!-- END PLUGIN CSS -->
        <!-- BEGIN CORE CSS FRAMEWsORK -->
        <link href="{% static 'painel/plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/boostrapv3/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END CORE CSS FRAMEWORK -->

        <!-- BEGIN CSS TEMPLATE -->
        <link href="{% static 'painel/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'painel/css/custom-icon-set.css' %}" rel="stylesheet" type="text/css"/>
        {% block css %}{% endblock %}
        <!-- END CSS TEMPLATE -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="">
        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse ">
          <!-- BEGIN TOP NAVIGATION BAR -->
          <div class="navbar-inner">
            <div class="header-seperation">
              <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" >
                  <div class="iconset top-menu-toggle-white"></div>
                  </a> </li>
              </ul>
              <!-- BEGIN LOGO -->
              <a href="index.html"><img src="{% static 'painel/img/placa-virtual.png' %}" class="logo" alt=""  data-src="{% static 'painel/img/placa-virtual.png' %}" data-src-retina="{% static 'painel/img/placa-virtual.png' %}" width="106" height="21"/></a>
              <!-- END LOGO -->
              <ul class="nav pull-right notifcation-center">
                <li class="dropdown" id="header_task_bar">
                    <a href="{% url 'dashboard' %}" class="dropdown-toggle active" data-toggle="">
                        <div class="iconset top-home"></div>
                    </a>
                </li>
                <li class="dropdown" id="header_inbox_bar" >
                    <a href="{% url 'painel_interessado' %}" class="dropdown-toggle" >
                        <div class="iconset top-messages"></div>
                        <span class="badge" id="msgs-badge">2</span>
                    </a>
                </li>
                <li class="dropdown" id="portrait-chat-toggler" style="display:none">
                    <a href="#sidr" class="chat-menu-toggle">
                        <div class="iconset top-chat-white "></div>
                    </a>
                </li>
              </ul>
            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div class="header-quick-nav" >
              <!-- BEGIN TOP NAVIGATION MENU -->
              <div class="pull-left">
                <ul class="nav quick-section">
                  <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
                    <div class="iconset top-menu-toggle-dark"></div>
                    </a> </li>
                </ul>
              </div>
              <!-- END TOP NAVIGATION MENU -->
              <!-- BEGIN CHAT TOGGLER -->
                <div class="pull-right">
                    <div class="chat-toggler">
                        <div class="user-details m-r-15">
                            <div class="username">{{ request.user.first_name }}</div>
                        </div>
                        <div class="profile-pic"> <img src="{% static 'painel/img/profiles/avatar_small.jpg' %}"  alt="" data-src="{% static 'painel/img/profiles/avatar_small.jpg' %}" data-src-retina="{% static 'painel/img/profiles/avatar_small2x.jpg' %}" width="35" height="35" /> </div>
                    </div>
                    <ul class="nav quick-section ">
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                                <div class="iconset top-settings-dark "></div>
                            </a>
                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                              <li><a href="user-profile.html"> Minha conta</a> </li>
                              <li><a href="calender.html">Meus imóveis</a> </li>
                              <li><a href="email.html"> Meus contatos&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a> </li>
                              <li class="divider"></li>
                              <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
              <!-- END CHAT TOGGLER -->
            </div>
            <!-- END TOP NAVIGATION MENU -->
          </div>
          <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container row">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar" id="main-menu">
            <!-- BEGIN MINI-PROFILE -->
                <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                        <div class="user-info-wrapper">
                            <div class="user-info">
                                <div class="greeting">Bem vindo</div>
                                <div class="username">{{ request.user.first_name|title }}</div>
                                <div class="status">
                                    Status<a href="#">
                                    <div class="status-icon green"></div>
                                    Ativo</a>
                                </div>
                            </div>
                        </div>
                        <!-- END MINI-PROFILE -->
                        <!-- BEGIN SIDEBAR MENU -->
                        <p class="menu-title">BROWSE <span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
                        <ul>
                        <li class="start">
                            <a href="{% url 'painel_imoveis' %}">
                                <i class="icon-custom-home"></i>
                                <span class="title">Meus anúncios</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'painel_interessado' %}">
                                <i class="fa fa-envelope-o"></i>
                                <span class="title">Interessados</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-gears"></i>
                                <span class="title">Configurações</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li> <a href="{% url 'painel_account' %}"> Meus dados </a> </li>
                                <li> <a href="{% url 'painel_xml' %}"> Importação XML </a> </li>
{#                                <li> <a href="user-profile.html"> Centrais de venda </a> </li>#}
                            </ul>
                        </li>
                        <li class="">
                            <a href="{% url 'painel_plano' %}">
                                <i class="fa fa-trophy"></i>
                                <span class="title">Meu planos</span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <!-- END SIDEBAR MENU -->
                </div>
            </div>
            <a href="#" class="scrollup">Scroll</a>
            <div class="footer-widget">
                <div class="pull-right">
                    <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE CONTAINER-->
            <div class="page-content">
                {% block container %}{% endblock %}
            </div>
            <!-- END CONTAINER -->
        </div>
        <!-- BEGIN CORE JS FRAMEWORK-->
        <script src="{% static 'painel/plugins/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'painel/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'painel/plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/breakpoints.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}" type="text/javascript"></script>
        <!-- END CORE JS FRAMEWORK -->
        <!-- BEGIN PAGE LEVEL JS -->
        <script async src="{% static 'painel/plugins/pace/pace.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-numberAnimate/jquery.animateNumbers.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-block-ui/jqueryblockui.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/bootstrap-select2/select2.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-ricksaw-chart/js/raphael-min.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-ricksaw-chart/js/d3.v2.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-ricksaw-chart/js/rickshaw.min.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-morris-chart/js/morris.min.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-slider/jquery.sidr.min.js' %}" type="text/javascript"></script>
        <script async src="{% static 'painel/plugins/jquery-sparkline/jquery-sparkline.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-flot/jquery.flot.min.js' %}"></script>
        <script async src="{% static 'painel/plugins/jquery-flot/jquery.flot.animator.min.js' %}"></script>
        <script async src="{% static 'painel/plugins/skycons/skycons.js' %}"></script>
        <script async src="{% static 'painel/js/core.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS   -->
        {% block js %}{% endblock %}
    </body>
</html>
