{% extends 'advertiser_admin/layout.html' %}
{% load painel %}
{% block container %}
<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="#" class="active">Meu plano</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Meu <span class="semi-bold">plano</span></h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple vertical green">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">{{ advertiser.first_name }}</span> - Plano <span class="semi-bold">{{ advertiser.plan.nome }}</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Prazo: <span class="semi-bold">Mensal</span></h5>
                            <h5>Vencimento: <span class="semi-bold">{% firstof advertiser.vemcimento|date:'d/m/Y' 'Esperando pagamento' %}</span></h5>
                            <h5>Valor do plano: <span class="semi-bold">R$ {{ advertiser.plan.preco }}</span></h5>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                Status:
                                {% if advertiser.is_past_due %}
                                    Ativado
                                {% else %}
                                    Inativo
                                {% endif %}
                            </h5>
                            <h5>Cadastrado em: <span class="semi-bold">{{ advertiser.date_register|date:'d/m/Y' }}</span></h5>
                            <h5>Expira em: <span class="semi-bold"><span class="label label-success"> {{ advertiser.expirate }}</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="grid simple vertical green">
                <div class="grid-title no-border">
                    <h4>Últimas <span class="semi-bold"> Faturas</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="row">
                        <table class="table table-bordered no-more-tables">
                            <thead>
                                <tr>
                                    <th style="width:1%" class="text-center">Cod</th>
                                    <th style="width:12%" class="text-center">Plano</th>
                                    <th style="width:5%" class="text-center">Prazo</th>
                                    <th style="width:5%" class="text-center">Valor</th>
                                    <th style="width:5%" class="text-center">Desconto</th>
                                    <th style="width:5%" class="text-center">Total</th>
                                    <th style="width:5%" class="text-center">Data emissão</th>
                                    <th style="width:5%" class="text-center">Data Pagamento</th>
                                    <th style="width:10%" class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">12983</td>
                                    <td class="text-center">Ilimitado MPC</td>
                                    <td class="text-center">Mensal</td>
                                    <td class="text-center">R$ 97,00</td>
                                    <td class="text-center">R$ 0,00</td>
                                    <td class="text-center">R$ 97,00</td>
                                    <td class="text-center">22/05/2015</td>
                                    <td class="text-center">22/05/2015</td>
                                    <td class="text-center"><span class="label label-success">Pago</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}