{% extends 'advertiser_admin/layout.html' %}
{% load staticfiles widget_tweaks %}

{% block js %}
{% endblock %}

{% block container %}

<div class="content">
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ EM</p></li>
        <li><a href="#" class="active">XML</a></li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Xml - <span class="semi-bold">Cadastrados</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Lista  <span class="semi-bold">Xml</span></h4>
                </div>
                <div class="grid-body no-border">
                    <table class="table table-striped table-flip-scroll cf">
                        <thead>
                            <tr>
                                <th style="width:9%">Url</th>
                                <th style="width:10%">Data cadastro</th>
                                <th style="width:6%">Data leitura</th>
                                <th style="width:5%" class="text-center">Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for xml in xmls %}
                            <tr>
                                <td>{{ xml.url }}</td>
                                <td class="v-align-middle"><span class="muted">{{ xml.cadastrado }}</span></td>
                                <td><span class="muted">{{ xml.lido }}</span></td>
                                <td class="text-center">
                                    <a href="{% url 'painel_deletar_xml' id=xml.pk %}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Cadastrar <span class="semi-bold">Xml</span></h4>
                </div>
                <div class="grid-body no-border">
                    <form action="{% url 'painel_cadastrar_xml' %}" method="post">{% csrf_token %}
                        <div class="form-group">
                            {% render_field form.url type="text" class="form-control" placeholder="URL de integração XML"%}
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-roxo mediun pull-right" type="submit" tabindex="14">Cadastrar <i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}