{% extends 'layout.html' %}
{% load staticfiles widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/page/mobile/geral.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/page/mobile/anuncie.css' %}"/>
{% endblock %}

{% block container %}
    <section class="container" id="box-anuncie">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-12">
                    <h2 class="roxo">CORRETORES E IMOBILIÁRIAS</h2>
                    <p>Preencha os campos abaixo que nossa equipe entrará em contato com você:</p>
                </div>
                <form action="{% url 'anuncie' %}" method="post">{% csrf_token %}
                    {% if messages %}
                        <div class="col-lg-12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            {% render_field form.type class="form-control input-lg f-z-20" %}
                        </div>
                        <div class="form-group">
                            {% render_field form.phone type="text" class="form-control input-lg f-z-20" placeholder="* Telefone"%}
                        </div>
                        <div class="form-group">
                            {% render_field form.email type="text" class="form-control input-lg f-z-20" placeholder="* E-mail"%}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            {% render_field form.name type="text" class="form-control input-lg f-z-20" placeholder="* Nome para contato"%}
                        </div>
                        <div class="form-group">
                            {% render_field form.cellphone type="text" class="form-control input-lg f-z-20" placeholder="* Celular"%}
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-roxo mediun pull-right input-lg" type="submit" tabindex="14">Enviar <i class="fa fa-arrow-circle-o-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}