{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Placa Imobiliária - Placa Virtual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/geral.css' %}"/>
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar box-shadow" role="navigation" id="menu-header">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        {% block menu %}
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-principal">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        {% endblock %}
                        {% block brand %}
                            <a class="navbar-brand" href="/"><img src="{% static 'site/img/placa-virtual.png' %}" class="img-responsive"></a>
                        {% endblock %}
                    </div>
                    <div class="collapse navbar-collapse" id="menu-principal">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#como-funciona">COMO FUNCIONA?</a></li>
                            <li><a href="#quanto-custa">QUANTO CUSTA?</a></li>
                            <li><a href="/anuncie">ANUNCIE</a></li>
                            <li><a href="http://blog.placavirtual.com.br/">BLOG</a></li>
                            <li><span class="roxo">TEL: 4007 2285</span></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>
    {% block container %}{% endblock %}

    {% block footer %}
        <footer class="container-fluid bg-roxo">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">
                        <img src="{% static 'img/placa-virtual.png' %}" alt=""/>
                    </p>
                </div>
            </div>
        </footer>
    {% endblock %}

    <script src="{% static 'js/jquery-1.11.3.min.js' %}" async></script>
    <script src="{% static 'js/bootstrap.min.js' %}" async></script>
    {% block js %}{% endblock %}
</body>
</html>