.navbar {max-height: 60px !important;min-height: 60px !important; padding: 0; margin: 0;}
.navbar-brand{padding-top: 10px !important; padding-left: 0 !important;}
.navbar-brand > img{max-height: 50px; max-width: 130px; display: inline-block; margin-top: 0; padding-top: 0 !important;}
.navbar-toggle > span {border: 2px solid #6C00B2;margin-top: 2px;}

.navbar-collapse{background-color: #fff;}

hr{border-top: 2px solid #9f00fa; margin: 0; padding: 0}