{% extends 'layout.html' %}
{% load staticfiles humanize widget_tweaks %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/page/mobile/geral.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/plugins/owl.carousel/owl-carousel/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/plugins/owl.carousel/owl-carousel/owl.theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/page/real_estate/mobile/propriedade.css' %}"/>
{% endblock %}

{% block js %}
    <script async src="{% static 'js/plugins/owl.carousel/owl-carousel/owl.carousel.min.js' %}"></script>
    <script async src="{% static 'js/page/real_estate/propriedade.js' %}"></script>
    <script async src="{% static 'js/page/geral.js' %}"></script>
{% endblock %}

{% block container %}
    <section class="container-fluid">
        <div class="row">
            <ul class="list-unstyled col-xs-12 no-padding owl-carousel">
                {% for photo in real_estate.fotos_set.get_active %}
                    <li class="item"><img src="{{ photo }}" class="lazyOwl"/></li>
                {% endfor %}
            </ul>

            {% if real_estate.transacao == 'V' %}
                <h1 class="venda"><span>Venda</span></h1>
            {% elif real_estate.transacao == 'L' %}
                <h1 class="aluguel"><span>Aluga</span></h1>
            {% endif %}

            <h2 class="price roxo">
                R$
                {% if real_estate.transacao == 'V' %}
                    {{ real_estate.valor_venda|floatformat:"0"|intcomma }}
                {% elif real_estate.transacao == 'L' %}
                    {{ real_estate.valor_aluguel|floatformat:"0"|intcomma }}
                {% endif %}
            </h2>

            <div id="dados-imovel" class="col-xs-12 no-padding">
                <ul class="list-unstyled list-inline caracteristicas col-lg-12 col-sm-12 col-xs-12">
                    <li><h3>Priv.</h3>{% firstof real_estate.area_privada|floatformat:"0"|intcomma '--' %}</li>
                    <li><h3>Total</h3>{% firstof real_estate.area_total|floatformat:"0"|intcomma '--' %}</li>
                    <li><h3>Quartos</h3>{% firstof real_estate.quartos '--' %}</li>
                    <li><h3>Suites</h3>{% firstof real_estate.suites '--' %}</li>
                    <li><h3>Vagas</h3>{% firstof real_estate.vagas '--' %}</li>
                </ul>
                <hr class="col-xs-12 no-padding"/>
                <div class="col-xs-12 text-center" id="logo">
                    <img src="https://anunciantes.s3.amazonaws.com/avatar/788/logo.jpg" alt="" class="img-responsive"/>
                </div>
            </div>


            <form action="{% url 'contato' %}" method="post" class="col-xs-12 ajax">{% csrf_token %}
                <h3 class="col-xs-12 text-center white">Deseja mais informações deste imóvel?</h3>
                <div class="col-xs-12">
                    <div class="form-group">
                        {% render_field form.nome class="form-control f-z-20" placeholder='Digite seu nome' %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        {% render_field form.email class="form-control f-z-20" placeholder='Digite seu e-mail' %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        {% render_field form.telefone class="form-control f-z-20" placeholder='Digite seu telefone' %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        {% render_field form.mensagem class="form-control f-z-20" placeholder='Digite sua mensagem'%}
                    </div>
                </div>
                <div class="form-actions text-center">
                    <input type="hidden" name="account" value="{{ real_estate.account.pk }}"/>
                    <input type='hidden' name="propriedade" value="{{ real_estate.pk }}" />
                    <button class="btn btn-roxo bold input-lg" type="submit" tabindex="14">Enviar</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}