{% load staticfiles humanize real_estate_filter %}
<link rel="stylesheet" href="{% static 'css/page/real_estate/mobile/unique.css' %}"/>
<a href="{% url 'propriedade' id=real_estate.pk %}" class="unique col-lg-12 col-xs-12 no-padding">

    {% if real_estate.transacao == 'V' %}
        <h1 class="venda"><span>Venda</span></h1>
    {% elif real_estate.transacao == 'L' %}
        <h1 class="aluguel"><span>Aluga</span></h1>
    {% endif %}

    <ul class="list-unstyled">
        {% for photo in real_estate.photo|slice:'1' %}
            <li>
                <img src="{{ photo }}" alt="" class="img-responsive"/>
            </li>
        {% endfor %}
    </ul>

    <h2 class="price">
        <span>R$</span>
        {% if real_estate.transacao == 'V' %}
            {{ real_estate.valor_venda|floatformat:"0"|intcomma }}
        {% elif real_estate.transacao == 'L' %}
            {{ real_estate.valor_aluguel|floatformat:"0"|intcomma }}
        {% endif %}
    </h2>

{#    Adicionar distancia #}

    <div class="logo" style="background-image: url(https://anunciantes.s3.amazonaws.com/avatar/788/logo.jpg)"></div>

    <p class="pull-left" style="margin-left: 10px;">Distancia: {{ real_estate.distance|distanceformat:2 }}</p>

    <ul class="list-unstyled list-inline caracteristicas col-lg-12 col-sm-12 col-xs-12 no-padding">
        <li><h3>Priv.</h3>{% firstof real_estate.area_privada|floatformat:"0"|intcomma '--' %}</li>
        <li><h3>Total</h3>{% firstof real_estate.area_total|floatformat:"0"|intcomma '--' %}</li>
        <li><h3>Quartos</h3>{% firstof real_estate.quartos '--' %}</li>
        <li><h3>Suites</h3>{% firstof real_estate.suites '--' %}</li>
        <li><h3>Vagas</h3>{% firstof real_estate.vagas '--' %}</li>
    </ul>
</a>
